@page "/"

<PageTitle>How-To Guide</PageTitle>

<h1>'The Maze' Game Manual</h1>
<br />
<h3>Controls:</h3>
W - Up<br/>
A - Left<br/>
S - Right<br/>
D - Down<br/>
<br/>

<h3>How to Win:</h3>
As you make your way through the maze, you might encounter items or monsters along your path to the maze's exit.<br/>
If you encounter a monster, you will begin to battle, and if you win, you'll be able to continue going through the maze. 
However, if you lose, the game will end because your player's health reached 0.<br/>
If you encounter an item, there is a chance for you to pick up either a potion or a weapon. If you pick up a potion, it 
could either heal or harm you, and if you pick up a weapon, it could increase your attack.
